# Build folder
.gnu-windows/bootstrap
.gnu-windows/make
.gnu-windows/ad-installer
.gnu-windows/gnu-windows.rc

# Compressed releases
.gnu-windows/*.tar.gz
.gnu-windows/*.wim
.gnu-windows/*.zip
.gnu-windows/*.7z

# GNU folders
binutils/
busybox-w32/
cppcheck/
ctags/
expat/
gcc/
gdb/
gmp/
libiconv/
make/
mingw-w64/
mpc/
mpfr/
nasm/
pdcurses/
vim/

# Windows executables
*.exe
*.dll