[submodule "binutils"]
	path = binutils
	url = https://github.com/tfslabs/binutils.git
[submodule "busybox-w32"]
	path = busybox-w32
	url = https://github.com/tfslabs/busybox-w32.git
[submodule "ctags"]
	path = ctags
	url = https://github.com/tfslabs/ctags.git
[submodule "expat"]
	path = expat
	url = https://github.com/tfslabs/expat.git
[submodule "gcc"]
	path = gcc
	url = https://github.com/tfslabs/gcc.git
