[submodule "binutils"]
	path = binutils
	url = https://github.com/tfslabs/binutils.git
[submodule "busybox-w32"]
	path = busybox-w32
	url = https://github.com/tfslabs/busybox-w32.git
[submodule "ctags"]
	path = ctags
	url = https://github.com/tfslabs/ctags.git
[submodule "expat"]
	path = expat
	url = https://github.com/tfslabs/expat.git
[submodule "gcc"]
	path = gcc
	url = https://github.com/tfslabs/gcc.git
[submodule "gdb"]
	path = gdb
	url = https://github.com/tfslabs/gdb.git
[submodule "gmp"]
	path = gmp
	url = https://github.com/tfslabs/gmp.git
[submodule "libiconv"]
	path = libiconv
	url = https://github.com/tfslabs/libiconv.git
[submodule "make"]
	path = make
	url = https://github.com/tfslabs/make.git
[submodule "mingw-w64"]
	path = mingw-w64
	url = https://github.com/tfslabs/mingw-w64.git
[submodule "mpc"]
	path = mpc
	url = https://github.com/tfslabs/mpc.git
[submodule "mpfr"]
	path = mpfr
	url = https://github.com/tfslabs/mpfr.git
[submodule "pdcurses"]
	path = pdcurses
	url = https://github.com/tfslabs/pdcurses.git
[submodule "vim"]
	path = vim
	url = https://github.com/tfslabs/vim.git
